.input-fields-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media only screen and (max-device-width: 480px) {
        .input-wrap {
            width: 100% !important;
        }
    }

    .input-wrap {
        margin: 0.25%;
        width: 100%;
    }

    .field-wrap {
        display: flex;
        flex-direction: column;
    }

    input.input-field, .react-date-picker__wrapper {
        width: 100%;
        padding: 0.7em 0.5em;
        box-sizing: border-box !important;
        box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.3s;
        border-radius: 4px;
        font: normal normal normal 15px/1.4em arial, 'ｍｓ ｐゴシック', 'ms pgothic', '돋움', dotum, helvetica, sans-serif;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-width: 0;
        background-color: rgba(255, 255, 255, 1);
        color: #000000;
        border-style: solid;
        border-color: rgba(232, 232, 232, 1);
        outline: none;
        margin: 0.25em 0 0.75em 0;
        max-width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-overflow: ellipsis;
    }

    input.input-field:focus {
        box-shadow: 0 3.5px 12px 1px rgba(0, 0, 0, 0.4);
    }

    .highlight-invalid-fields .invalid {
        .input-field, .react-date-picker__wrapper {
            background-color: rgb(255, 150, 160);
        }
    }

    .input-field-label {
        line-height: 1em;
    }

    /*react-date-picker*/
    .react-date-picker {
        direction: ltr;
    }

    .react-date-picker__wrapper {
        width: 100%;
        height: 2.75em;
    }

    .react-date-picker__clear-button:hover{
        color: #731f72;
    }
}