.addBtn{
  font-size: 21px;
};
.addFilterButton{
  font-size: 21px;
  color: #565F6B;
  padding: 10px
};
.addFilterButtonActive{
  font-size: 21px;
  color: #F7B3D3;
  padding: 10px
};
.addGroupButton{
  font-size: 21px;
  color: #F7B3D3;
  padding: 10px
};
.addGroupButtonActive{
  font-size: 21px;
  color: #F7B3D3;
  padding: 10px
};