@import "../../lib/variables";
.query-loader-wrapper {
  .query-loader-controls-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    padding: 0 0.25em 0.25em;
  }

  .query-loader-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-color: transparent;
    color: $purple-main;
    border: none;
    outline: none;
    font-size: 1.25em;
    line-height: 1em;
    transition: background-color 0.2s;
  }

  .query-loader-control:hover{
    color: $purple-dark;
  }

  .query-loader-control:active{
    color: $purple-darker;
  }

  .saved-query{
    display: block;
    padding: 0.25em;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .saved-query:hover{
    background-color: #ffffff30;
  }

  .saved-query:active{
    background-color: #ffffff50;
  }

  .save-query-wrap{
    margin-top: 1em;
  }

  .save-query-name-input{
    border: none;
    height: 1.5em;
    box-sizing: border-box;
    font-size: 1em;
  }

  .save-query-button{
    margin: 0 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: none;
    font-size: 1em;
    height: 1.5em;
    padding: 0.1em 0.75em;
    box-sizing: border-box;
    background-color: white;
    color: $purple-main;
    transition: background-color 0.2s, color 0.2s;
  }

  .save-query-button:hover{
    color: $purple-dark;
    background-color: #f8ecef;
  }

  .save-query-button:active{
    color: $purple-darker;
    background-color: #F3DBEA;
  }
}