.query-wizard-wrapper{
  min-width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column
}
.query{
  display: flex;
  flex-direction: column;
}
.filter-title{
  text-align: left;
  padding: 10px 0
}
.filter-icon{
  padding-right: 5px
}
.filterIcon {
  width: 30px;
  height: 22px;
  cursor: pointer;
  user-select: none;
  user-drag: none;
}
@keyframes logicalOperatorClick {
  25% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }
}
.filterIcon:active {
  animation: logicalOperatorClick 1s;
  transition-timing-function: ease-in-out;
}