.query-wizard-wrapper{
  min-width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column
}
.query{
  display: flex;
  flex-direction: column;
}
.condition-group-wrap{
  padding: 10px;
  border: 4px solid #90278e;
  border-radius: 15px;
}
.filter-title{
  text-align: left;
  padding: 10px 0
}
.filter-icon{
  padding-right: 5px;
  align-self: center;
  width: 30px;
  height: 22px;
  cursor: pointer;
  user-select: none;
  user-drag: none;
}
.filter-icon:active {
  animation: logicalOperatorClick 1s;
  transition-timing-function: ease-in-out;
}
@keyframes logicalOperatorClick {
  25% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }
}