.single-condition-wrap{
	.wrapper {
		align-self: stretch;
		border-radius: 5px;
		font-family: Cabin, "sans-serif";
		color: rgba(86, 95, 108, .9);
		padding: 0 10px 10px;
		background-color: #f8ecef;
	};
	.valueContainer{
		text-align: left;
		margin-left: 8px;
		margin-right: 8px;
		flex: 1;
		font-size: 18px;
		display: flex;
		justify-content: space-between;
	};
	.filterIcon{};
	.heading{
		padding-left: 5px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 700;
	};
	.titleWrapper{
		display: flex;
		align-items: center;
		padding-left: 5px;
	}
	.iconWrapper{
		line-height: 30px;
	}
	.valuePrefix{}
	.valueNumber{
		margin-top: 10px;
		font-size: 16px;
		text-align: right;
	}
	.titleRow{
    	display: flex;
    	justify-content: space-between;
	}
	.closeIcons{
		align-self: center;
    	cursor: pointer;
  	}
}