.selector-item{
  padding: 0.5%;
  color: white;
  transition: color 0.25s, background-color 0.25s;
  cursor: pointer;
}
.selector-item:hover{
  background-color: white;
  color:rgb(144, 39, 142);
}
.selector-item:active{
  background-color: #ccc;
}