.code-input{
		white-space: nowrap;
		text-align: center;
	.code-input-char{
		display: inline-block;
		width: 1em;
		outline: none;
		border: none;
		text-align: center;
		margin: 0.5%;
		padding: 0.125em 0;
		font-size: 1.25em;
		box-sizing: border-box;
		border-radius: 0.2em;
	}
}