.spinner-wrap.centered{
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
/*credit to Luke Hass, https://projects.lukehaas.me/css-loaders/*/
.load-spinner {
  font-size: 10px;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #90278e 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #90278e 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #90278e 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #90278e 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #90278e 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load 1.4s infinite linear;
  animation: load 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.purple-background .load-spinner {
  background: #90278e;
  background: -moz-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #fff 10%, rgba(255, 255, 255, 0) 42%);
}
.load-spinner:before {
  width: 50%;
  height: 50%;
  background: #90278e;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.purple-background .load-spinner:before {
  background: #fff;
}
.load-spinner:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.purple-background .load-spinner:after {
  background: #90278e;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}