@import "../../lib/variables.scss";
.selectable-button{
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  border: none;
  background-color: white;
  margin-right:1em;
}
.selectable-button:hover{
  background-color: $purple-light;
}
.selectable-button:active{
  box-shadow: 0 0 5px $purple-main;
}
.selectable-button.selected{
  color: white;
  background-color: $purple-main;
}