.crop-button{
  color: white;
  background-color: #90278e;
  border: none;
  outline: none;
  font-size: 1.5em;
  display: block;
  padding: 0.25em 0.5em;
  margin: 0.5em auto;
  transition: background-color 0.25s;
  cursor: pointer;
}
.crop-button:hover{
  background-color: #731f72;
}
.crop-button:active{
  background-color: #561755;
}